<div class="container">
<h1>Task List</h1>
<div class="flex-container">
  <div>
    <p class="me-2 " style="display: inline; font-weight: bold">Filters:</p>
    <select class="mx-2">
      <option value="placeholder" selected disabled>Status</option>
      <option value="in-progress">In-Progress</option>
    </select>
    <select class="mx-2" >
      <option value="placeholder" selected disabled>Date</option>
    </select>
    <select class="ms-2">
      <option value="placeholder" selected disabled>Priority</option>
    </select>
  </div>
  <div>
    <button class="newtask-button mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Task</button>
  </div>
</div>
<app-table></app-table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) = "addTask()">Save changes</button>
      </div>
    </div>
  </div>
</div>
