<div class="container">
<h1>Task List</h1>
<div class="flex-container">
  <div>
    <p style="display: inline">Filters:</p>
    <select>
      <option value="placeholder" selected disabled>Status</option>
      <option value="in-progress">In-Progress</option>
    </select>
    <select>
      <option value="placeholder" selected disabled>Date</option>
    </select>
    <select>
      <option value="placeholder" selected disabled>Priority</option>
    </select>
  </div>
  <div>
    <button class="newtask-button">Add New Task</button>
  </div>
</div>
<app-table></app-table>
</div>

