<div
  style="
    width: 244px;
    min-height: 100vh;
    border-right: 1px solid #d2d2d2;
    background: #fff;
    padding: 0px 22px;
    padding-top: 49px;
    position: fixed;
  "
>
  <h1>TASKIT</h1>
  <button
    style="
      background-color: #48c15b;
      width: 100%;
      padding: 15px;
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: none;
      border-radius: 12px;
    "
  >
    Task List
  </button>

  <div
    style="
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      gap: 10px;
      padding: 10px 16px;
    "
  >
    <img src="assets/profile-image.png" alt="" />

    <div style="display: flex; flex-direction: column">
      <p style="margin:0px">Name</p>
      <p style="margin:0px">email@email.com</p>
    </div>
  </div>
</div>
